* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
img {
  height: 50px;
  width: 50px;
}
h1, h2 {
  font-family: "Roboto Slab", serif;
}
h1 {
  text-align: center;
}
h2 {
  color: #6D6E71;
  display: inline-block;
}
p {
  font-family: "Open Sans", sans-serif;
  color: #939598;
}
article {
  border-bottom: #D1D3D4;
  border-bottom-style: solid;
  position: relative;
  margin-bottom: 25px;

}
fieldset {
  border: none;
  padding: 0px;
}
button {
  border: none;
  margin: auto;
  display: block;
}
body {
  display: flex;
  flex-wrap: wrap;
}
input {
  display: block;
  margin: auto;
  width: 75%;
  height: 25px;
  padding-left: 3px;
}
.quality {
  color: #6D6E71;
}
.form-container {
  background: #E5F3F2;
  width: 100%;
  margin: auto;
}
.idea-container {
  width: 75%;
  margin: auto;
}
.idea-text {
  margin: 25px auto;
}
.quality {
  width: 100%;
  margin: 10px auto;
}
#quality-word {
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
  margin-bottom: 15px;
}
#idea {
  color: #00A79D;
}
#box {
  color: #6D6E71;
}
#save {
  background: #00A79D;
  color: #FFFFFF;
  width: 75%;
  height: 25px;
  margin-bottom: 25px;
}
#save:hover {
  background: #045E55;

}
#delete {
  background-image: url("images/delete.svg");
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top:0px;
  right: 0px;
}
#delete:hover {
  background-image:url("images/delete-hover.svg");
}
#upvote, #downvote, #quality {
  margin-left: 5px;
}
#upvote {
  background-image: url("images/upvote.svg");
  width: 20px;
  height: 20px;
  display: inline-block;
}
#upvote:hover {
  background-image:url("images/upvote-hover.svg");

}
#downvote {
  background-image: url("images/downvote.svg");
  width: 20px;
  height: 20px;
  display: inline-block;
}
#downvote:hover {
  background-image:url("images/downvote-hover.svg");

}
#search {
  margin: 25px auto;
  width: 100%;
}
#body {
  margin: 10px auto;
}
